.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form {
  width: 100%;
}

.row {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.btn-submit {
  width: 100%;
  max-width: 250px;
  align-self: center;
}
