.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f1f5f9;
}

.login-box {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  padding: 35px 25px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 0 auto 10px auto;
  display: block;
}

.input-full {
  width: 100%;
}

.icon-btn {
  color: white;
}

.btn-login {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


